.field-wrap,
.ninja-forms-form-wrap {
   position: relative;
   padding: 35px 3px;
   border: 1px dotted #aaa;
   overflow: hidden;

}

.field-wrap:before,
.ninja-forms-form-wrap:before,
.submit-wrap:before  {
    position: absolute;
    top: 0; left: 0;
    padding: 2px 5px;
    text-transform: lowercase;
    background: #EF4748;
    z-index: 9999;
    color:white;
}

.field-wrap:before {
    content: ".field-wrap";
}

.ninja-forms-form-wrap:before {
    content: ".ninja-forms-form-wrap";
}

.submit-wrap:before {
    content: ".submit-wrap";
}