/**
 * The CSS Styles for the admin bar and hooks
 */
.nf_hook {
	color: #EF4748;
	display: block;
	padding: 2px 5px;
	margin-bottom: 20px;
	border: 1px solid;
	overflow: hidden;
	word-wrap: break-word;
	cursor: help;
}

.nf-overlayed .nf_hook {
	z-index: 9998;
	color: white;
	display: inline;
	position: absolute;
	background:#EF4748;
	opacity: .8;
}
.nf-overlayed .nf_hook:hover {
		z-index: 9999;
		opacity: 1;
	}

